*{
  margin: 0;
  box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    color: #333;
}

/* Navigation */
nav {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    z-index: 10;
}

nav a {
    margin: 0 20px;
    text-decoration: none;
    font-weight: 500;
    color: #333;
    transition: color 0.3s ease;
}

nav a:hover {
    color: coral;
    /* Accent color */
}

section {
    margin: 40px 80px;
}

h2 {
    font-size: 2em;
    background-color: #f8f9fa;
    text-align: center;
}

table {
    margin: 20px;
}


td{
    height: auto;
    width: 380px;
    padding-left: 10px;
    padding-right: 10px;
}

.design img {
    height: auto;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    padding: 10px;
}

.design img:hover {
    scale: 1.2;
    background-color: #f8f9fa;
    border: none;
    border-radius: 0;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: coral;
    color: white;
    font-size: 0.9em;
}

@media (max-width: 800px) {
    table{
        margin: 30px;
        padding: 5px;
    }
    td{
        height: auto;
        width: 50%;
        column-width: 2;
    }
    .design{
        padding-left: 10px;
    }
    
    .design img {
        height: auto;
        background-color: rgba(255, 255, 255, 0.8);
        width: 100%;
        padding: 0px;
    }
}


@media (max-width: 620px) {
    nav {
        font-size: small;
    }
    
    nav a {
        margin: 0 8px;
    }

    h2 {
        font-size: 1.5em;
        text-align: center;
    }

    table{
        margin: 30px;
        padding: 5px;
    }
    td{
        height: auto;
        width: 100%;
        display: block;
    }
    .design{
        padding-left: 0px;
    }
    
    .design img {
        height: auto;
        padding: 5px;
        width: 100%;
    }

}
